.primary-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-1 {
  max-width: 10%;
  max-width: 60px;
}

.logo-2 {
  max-width: 15%;
  max-width: 150px;
}

.title {
  max-width: 70%;
  font-size: large;
  white-space: pre-wrap;
  font-size: 1.5rem;
}
