<section class="project-create-form">
  <div [formGroup]="datiAtleta" id="english-form" class="content">
    <div class="form-group title">
      <label>Nome</label>
      <input matInput class="form-control"  formControlName="nome"
        placeholder="Nome">
      <div class="characters-notify">
        <span *ngIf="formControl['nome'].touched && formControl['nome'].errors" class="form--error">
          <span *ngIf="formControl['nome'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Cognome</label>
      <input matInput class="form-control"  formControlName="cognome"
        placeholder="Cognome">
      <div class="characters-notify">
        <span *ngIf="formControl['cognome'].touched && formControl['cognome'].errors" class="form--error">
          <span *ngIf="formControl['cognome'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Luogo di nascita</label>
      <input matInput class="form-control"  formControlName="luogo"
        placeholder="Luogo di nascita">
      <div class="characters-notify">
        <span *ngIf="formControl['luogo'].touched && formControl['luogo'].errors" class="form--error">
          <span *ngIf="formControl['luogo'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Data di nascita</label>
      <input matInput id="dateField" class="form-control" type="date"  formControlName="dataNascita"
        placeholder="Data di nascita">
      <div class="characters-notify">
        <span *ngIf="formControl['dataNascita'].touched && formControl['dataNascita'].errors" class="form--error">
          <span *ngIf="formControl['dataNascita'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Residenza</label>
      <input matInput class="form-control"  formControlName="residenza"
        placeholder="Residente in">
      <div class="characters-notify">
        <span *ngIf="formControl['residenza'].touched && formControl['residenza'].errors" class="form--error">
          <span *ngIf="formControl['residenza'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>in via</label>
      <input matInput class="form-control"  formControlName="viaResidenza"
        placeholder="Via">
      <div class="characters-notify">
        <span *ngIf="formControl['viaResidenza'].touched && formControl['viaResidenza'].errors" class="form--error">
          <span *ngIf="formControl['viaResidenza'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>n°</label>
      <input matInput class="form-control"  formControlName="nResidenza"
        placeholder="n°">
      <div class="characters-notify">
        <span *ngIf="formControl['nResidenza'].touched && formControl['nResidenza'].errors" class="form--error">
          <span *ngIf="formControl['nResidenza'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Società di appartenenza</label>
      <input matInput class="form-control"  formControlName="societa"
        placeholder="Società di appartenenza">
      <div class="characters-notify">
        <span *ngIf="formControl['societa'].touched && formControl['societa'].errors" class="form--error">
          <span *ngIf="formControl['societa'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Arma</label>
      <mat-select class="form-control" formControlName="arma">
        <mat-option value="FIORETTO">FIORETTO</mat-option>
        <mat-option value="SPADA">SPADA</mat-option>
      </mat-select>
      <div class="characters-notify">
        <span *ngIf="formControl['arma'].touched && formControl['arma'].errors" class="form--error">
          <span *ngIf="formControl['arma'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Numero F.I.S</label>
      <input matInput class="form-control" formControlName="numeroFIS"
        placeholder="Numero F.I.S">
      <div class="characters-notify">
        <span *ngIf="formControl['numeroFIS'].touched && formControl['numeroFIS'].errors" class="form--error">
          <span *ngIf="formControl['numeroFIS'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Telefono Atleta</label>
      <input matInput type="number" class="form-control"  formControlName="telefonoAtleta"
        placeholder="...">
      <div class="characters-notify">
        <span *ngIf="formControl['telefonoAtleta'].touched && formControl['telefonoAtleta'].errors" class="form--error">
          <span *ngIf="formControl['telefonoAtleta'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Telefono Padre</label>
      <input matInput type="number" class="form-control"  formControlName="telefonoPadre"
        placeholder="...">
      <div class="characters-notify">
        <span *ngIf="formControl['telefonoPadre'].touched && formControl['telefonoPadre'].errors" class="form--error">
          <span *ngIf="formControl['telefonoPadre'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Telefono Madre</label>
      <input matInput type="number" class="form-control"  formControlName="telefonoMadre"
        placeholder="...">
      <div class="characters-notify">
        <span *ngIf="formControl['telefonoMadre'].touched && formControl['telefonoMadre'].errors" class="form--error">
          <span *ngIf="formControl['telefonoMadre'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Email</label>
      <input matInput type="email" class="form-control"  formControlName="email"
        placeholder="...">
      <div class="characters-notify">
        <span *ngIf="formControl['email'].touched && formControl['email'].errors" class="form--error">
          <span *ngIf="formControl['email'].errors['required']">
            Questo campo è obbligatorio
          </span>
          <span *ngIf="formControl['email'].errors['email']">
            Inserire una mail valida
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Taglia T-Shirt</label>
      <mat-select class="form-control" formControlName="tShirt">
        <mat-option value="XXXS">XXXS</mat-option>
        <mat-option value="XXS">XXS</mat-option>
        <mat-option value="XS">XS</mat-option>
        <mat-option value="S">S</mat-option>
        <mat-option value="M">M</mat-option>
        <mat-option value="L">L</mat-option>
        <mat-option value="XL">XL</mat-option>
      </mat-select>
      <div class="characters-notify">
        <span *ngIf="formControl['tShirt'].touched && formControl['tShirt'].errors" class="form--error">
          <span *ngIf="formControl['tShirt'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Taglia pantaloncino</label>
      <mat-select class="form-control" formControlName="pantaloncino">
        <mat-option value="XXXS">XXXS</mat-option>
        <mat-option value="XXS">XXS</mat-option>
        <mat-option value="XS">XS</mat-option>
        <mat-option value="S">S</mat-option>
        <mat-option value="M">M</mat-option>
        <mat-option value="L">L</mat-option>
        <mat-option value="XL">XL</mat-option>
      </mat-select>
      <div class="characters-notify">
        <span *ngIf="formControl['pantaloncino'].touched && formControl['pantaloncino'].errors" class="form--error">
          <span *ngIf="formControl['pantaloncino'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Desidererei, se possibile, essere sistemato in camera con</label>
      <input matInput class="form-control"  formControlName="preferenzaCamera"
        placeholder="...">
      <div class="characters-notify">
        <span *ngIf="formControl['preferenzaCamera'].touched && formControl['preferenzaCamera'].errors" class="form--error">
          <span *ngIf="formControl['preferenzaCamera'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Allergie (allegare eventuale documentazione)</label>
      <mat-checkbox matInput formControlName="allergie" placeholder="allergie"></mat-checkbox>
      <div class="characters-notify">
        <span *ngIf="formControl['allergie'].touched && formControl['allergie'].errors" class="form--error">
          <span *ngIf="formControl['allergie'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
    <div class="form-group title">
      <label>Richiede iscrizione a:</label>
      <mat-select class="form-control" formControlName="iscrizione" multiple>
        <!-- <mat-option value="Heraclea Fencing Camp di Formia (spada) - da domenica 16 luglio a sabato 22 luglio 2023">Heraclea Fencing Camp di Formia (spada) - da domenica 16 luglio a sabato 22 luglio 2023</mat-option> -->
        <mat-option value="Heraclea Fencing Camp di Pizzo (fioretto e spada) - da sabato 26 agosto a sabato 2 settembre 2023">Heraclea Fencing Camp di Pizzo (fioretto e spada) - da sabato 26 agosto a sabato 2 settembre 2023</mat-option>
      </mat-select>
      <div class="characters-notify">
        <span *ngIf="formControl['iscrizione'].touched && formControl['iscrizione'].errors" class="form--error">
          <span *ngIf="formControl['iscrizione'].errors['required']">
            Questo campo è obbligatorio
          </span>
        </span>
      </div>
    </div>
  </div>
</section>
