<div *ngIf="!isAllCompleted()">
    <div *ngIf="numberOfAlreadySigned > 0">
        <h4>Inserisci i nomi delle persone già iscritte ad un campus Heraclea 2025</h4>
        <mat-stepper #stepper>
            <div *ngFor="let n of stepsAlreadySigned">
                <mat-step label="{{n+1}}" [completed]="isAlreadySignStepCompleted(n)">
                    <div class="nome-cognome-atleta form-group title">
                        <label class="wi-25">Nome Atleta</label>
                        <input matInput class="form-control" [(ngModel)]="nomiECognomi[n].nome"
                            placeholder="Nome Atleta">
                        <div class="characters-notify">
                            <span *ngIf="!nomiECognomi[n].nome || nomiECognomi[n].nome === ''" class="form--error">
                                Questo campo è obbligatorio
                            </span>
                        </div>
                    </div>
                    <div class="nome-cognome-atleta form-group title">
                        <label class="wi-25">Cognome Atleta</label>
                        <input matInput class="form-control" [(ngModel)]="nomiECognomi[n].cognome"
                            placeholder="Cognome Atleta">
                        <div class="characters-notify">
                            <span *ngIf="!nomiECognomi[n].cognome || nomiECognomi[n].cognome === ''"
                                class="form--error">
                                Questo campo è obbligatorio
                            </span>
                        </div>
                    </div>
                    <div class="button-container">
                        <button *ngIf="n > 0" mat-raised-button matStepperPrevious><mat-icon
                                fontIcon="arrow_back"></mat-icon>
                            <span>Indietro</span></button>
                        <button *ngIf="n < (stepsAlreadySigned.length - 1)" mat-raised-button color="primary"
                            matStepperNext>
                            <span>Avanti</span> <mat-icon fontIcon="arrow_forward"></mat-icon>
                        </button>
                    </div>
                </mat-step>
            </div>
        </mat-stepper>
    </div>
    <br />
    <div *ngIf="isAllAlreadySignStepCompleted() || numberOfAlreadySigned === 0">
        <div *ngFor="let item of steps">
            <h4 *ngIf="currentStep === item">Modulo {{item + 1}} su {{ steps.length }}</h4>
            <app-stepper *ngIf="currentStep === item" [upload]="upload"
                (completed)="increaseStepCompleted($event)"></app-stepper>
        </div>
    </div>

</div>

<div *ngIf="isAllCompleted()">
    <h4>Tutte le iscrizioni sono state completate!</h4>

    <div *ngFor="let item of errors | keyvalue">
        <li *ngIf="item.value">Modulo {{ item.key }} inviato correttamente</li>
        <li *ngIf="!item.value">Modulo {{ item.key }} inviato, ma con qualche warning, verificare con l'amministratore
            se tutti i documenti sono stati ricevuti correttamente</li>
    </div>

    <br />Ora è possibile chiudere questa pagina o torna alla <a href="">home</a>

</div>