<div class="container">
  <h2>Benvenuto nel sistema di prenotazione eventi Heraclea 2024</h2>
  <h4>Cosa vuoi fare?</h4>
  <ul>
    <li class="link" (click)="goToClassicReservation()">Iscrizione campus atleti</li>
    <br />
    <li class="link" (click)="selectOnePeople = true">Iscrizione Evento Gara (SOLO ATLETI)</li>
    <p class="promo"> - al costo di <strong>170€</strong> in PROMO per le prenotazioni entro febbraio</p>
    <div class="form-group" *ngIf="selectOnePeople">
      <div>
        <mat-checkbox [(ngModel)]="alreadySigned" class="form-control">Ti sei già iscritto ad un campus Heraclea 2024?</mat-checkbox>
      </div>
  
      <button mat-raised-button color="primary" (click)="goToSingleReservation()">
        Conferma
      </button>
    </div>
    <br />
    <!--<li class="link" (click)="selectPeople = true">Iscrizione Evento Gara (da 3 a 5 persone)</li>-->
  </ul>
  <br />

  <div class="form-group" *ngIf="selectPeople">
    <div>
      <label>Per quante persone vuoi prenotare? Il minimo di persone prenotabili è 3, in quanto le camere disponibili sono delle triple</label>
      <input matInput type="number" [(ngModel)]="numeroPersone" class="form-control" min="3" max="5">  
    </div>

    <button mat-raised-button color="primary" (click)="goToReservation()">
      Conferma
    </button>
  </div>
</div>