<mat-stepper [linear]="!upload || isMaggiorenne >= 0" #stepper>
  <mat-step label="Atleta minorenne" [completed]="isMaggiorenne >= 0">
    <div class="full-width">
      <label>Seleziona un'opzione</label>
      <mat-radio-group (change)="setIsMaggiorenne($event)" aria-label="Seleziona un'opzione">
        <mat-radio-button class="pad-5" value="0">Minorenne</mat-radio-button>
        <mat-radio-button class="pad-5" value="1">Maggiorenne</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="button-container">
      <div></div>
      <button *ngIf="isMaggiorenne >= 0" mat-raised-button color="primary" (click)="scroll()" matStepperNext>
        <span>Avanti</span>
        <mat-icon fontIcon="arrow_forward"></mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step label="Dati Atleta" [stepControl]="isMaggiorenne ? datiAtletaMaggiorenne : datiAtletaMinorenne"
    errorMessage="Compilare tutti i campi"
    [completed]="isMaggiorenne ? datiAtletaMaggiorenne.valid : datiAtletaMinorenne.valid">
    <p style="color: red; font-weight: bold;" *ngIf="isMaggiorenne < 0">Devi prima selezionare se atleta maggiorenne o
      minorenne allo step precedente</p>
    <app-minorenne *ngIf="!isMaggiorenne && isMaggiorenne !== -1" [datiAtleta]="datiAtletaMinorenne" [isGara]="isGara"
      (formCompleteEvent)="isFormComplete($event)"></app-minorenne>
    <app-maggiorenne *ngIf="isMaggiorenne && isMaggiorenne !== -1" [datiAtleta]="datiAtletaMaggiorenne"
      [isGara]="isGara" (formCompleteEvent)="isFormComplete($event)"></app-maggiorenne>
    <div class="button-container">
      <button mat-raised-button (click)="scroll()" matStepperPrevious><mat-icon fontIcon="arrow_back"></mat-icon>
        <span>Indietro</span></button>
      <button mat-raised-button color="primary" (click)="scroll()"
        *ngIf="isMaggiorenne ? datiAtletaMaggiorenne.valid : datiAtletaMinorenne.valid" matStepperNext>
        <span>Avanti</span>
        <mat-icon fontIcon="arrow_forward"></mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step (click)="scroll()">
    <ng-template matStepLabel>Esporta PDF</ng-template>
    <p style="font-weight: bold;" *ngIf="isMaggiorenne ? datiAtletaMaggiorenne.valid : datiAtletaMinorenne.valid">
      Scarica e stampa i moduli precompilati, firmali in originale e ricaricali nello step successivo per il
      completamento dell'iscrizione.
    </p>
    <p style="color: red; font-weight: bold;"
      *ngIf="isMaggiorenne ? !datiAtletaMaggiorenne.valid : !datiAtletaMinorenne.valid">
      Devi prima compilare il modulo allo step precedente
    </p>
    <div class="button-container" id="exportPDF_BUTTON">
      <button mat-raised-button *ngIf="isMaggiorenne ? datiAtletaMaggiorenne.valid : datiAtletaMinorenne.valid"
        (click)="exportPDF()" color="primary">
        <span>Scarica PDF</span> <mat-icon fontIcon="download"></mat-icon>
      </button>
    </div>
    <div class="button-container">
      <button mat-raised-button (click)="scroll()" matStepperPrevious><mat-icon fontIcon="arrow_back"></mat-icon>
        <span>Indietro</span></button>
      <button *ngIf="isMaggiorenne ? datiAtletaMaggiorenne.valid : datiAtletaMinorenne.valid" mat-raised-button
        color="primary" (click)="scroll()" matStepperNext>
        <span>Avanti</span> <mat-icon fontIcon="arrow_forward"></mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Carica file</ng-template>
    <div class="col-container">
      <h3>Carica tutti i file necessari</h3>
      <p>Totale file caricati: {{totalSize}}&nbsp;{{sizeUnit}}</p>
      <!-- <p>Nota: ogni file non può superare i <strong>6MB</strong></p> -->
      <div *ngIf="upload">
        <div class="nome-cognome-atleta form-group title">
          <label class="wi-25">Nome Atleta</label>
          <input matInput class="form-control" [(ngModel)]="nomeAtleta" placeholder="Nome Atleta">
          <div class="characters-notify">
            <span *ngIf="!nomeAtleta || nomeAtleta === ''" class="form--error">
              Questo campo è obbligatorio
            </span>
          </div>
        </div>
        <div class="nome-cognome-atleta form-group title">
          <label class="wi-25">Cognome Atleta</label>
          <input matInput class="form-control" [(ngModel)]="cognomeAtleta" placeholder="Cognome Atleta">
          <div class="characters-notify">
            <span *ngIf="!cognomeAtleta || cognomeAtleta === ''" class="form--error">
              Questo campo è obbligatorio
            </span>
          </div>
        </div>
        <div class="nome-cognome-atleta form-group title">
          <label class="wi-25">Email</label>
          <input matInput type="email" class="form-control" [(ngModel)]="emailAtleta"  placeholder="...">
          <div class="characters-notify">
            <span *ngIf="!emailAtleta || emailAtleta === ''" class="form--error">
              Questo campo è obbligatorio
            </span>
          </div>
        </div>
        <div class="nome-cognome-atleta form-group title">
          <label class="wi-25">Campus</label>
          <mat-select class="form-control" [(ngModel)]="campusAtleta">
            <!--<mat-option value="Formia">Camp di Formia (spada) dal 14 al 20 luglio</mat-option>-->
            <mat-option value="Pizzo">Camp di Pizzo (spada) dal 30 agosto al 5 settembre 2025</mat-option>
          </mat-select>
          <div class="characters-notify">
            <span *ngIf="!campusAtleta || campusAtleta === ''" class="form--error">
              Questo campo è obbligatorio
            </span>
          </div>
        </div>
        <!--<div *ngIf="isGara" class="nome-cognome-atleta form-group title">
          <label>Ti sei già iscritto ad un evento Heraclea 2024?</label>
          <mat-checkbox matInput [(ngModel)]="iscrizioneGara" placeholder="iscrizione gara"></mat-checkbox>
        </div>-->
      </div>
      <!-- <p *ngIf="isOverSize()" class="warning-text">NOTA: il totale dei file non deve superare i 10MB per l'invio via mail</p> -->
      <div class="upload-section">
        <label
          [ngClass]="{ 'file-loaded' : attachmentsDict['MODULO_ISCRIZIONE'] && attachmentsDict['MODULO_ISCRIZIONE'].length > 0 }">Modulo
          di Iscrizione Firmato
          <mat-icon
            *ngIf="attachmentsDict['MODULO_ISCRIZIONE'] && attachmentsDict['MODULO_ISCRIZIONE'].length > 0">check</mat-icon></label>
        <input type="file" id="fileIscrizione" (change)="selectFile($event, 'MODULO_ISCRIZIONE')"
          name="fileIscrizione" />
      </div>
      <div class="upload-section">
        <label
          [ngClass]="{ 'file-loaded' : attachmentsDict['ESONERO_RESPONSABILITA'] && attachmentsDict['ESONERO_RESPONSABILITA'].length > 0 }">Esonero
          Responsabilità Firmato
          <mat-icon
            *ngIf="attachmentsDict['ESONERO_RESPONSABILITA'] && attachmentsDict['ESONERO_RESPONSABILITA'].length > 0">check</mat-icon></label>
        <input type="file" id="fileEsonero" (change)="selectFile($event, 'ESONERO_RESPONSABILITA')"
          name="fileEsonero" />
      </div>
      <div class="upload-section">
        <label
          [ngClass]="{ 'file-loaded' : attachmentsDict['LIBERATORIA'] && attachmentsDict['LIBERATORIA'].length > 0 }">Liberatoria
          Firmata<mat-icon
            *ngIf="attachmentsDict['LIBERATORIA'] && attachmentsDict['LIBERATORIA'].length > 0">check</mat-icon></label>
        <input type="file" id="fileLiberatoria" (change)="selectFile($event, 'LIBERATORIA')" name="fileLiberatoria" />
      </div>
      <div *ngIf="!alreadySigned" class="upload-section">
        <label
          [ngClass]="{ 'file-loaded' : attachmentsDict['CI_FRONTE'] && attachmentsDict['CI_FRONTE'].length > 0 }">Documento
          di riconoscimento Atleta (Fronte)
          <mat-icon
            *ngIf="attachmentsDict['CI_FRONTE'] && attachmentsDict['CI_FRONTE'].length > 0">check</mat-icon></label>
        <input type="file" id="fileInput1" (change)="selectFile($event, 'CI_FRONTE')" name="fileInput1" />
      </div>
      <div *ngIf="!alreadySigned" class="upload-section">
        <label
          [ngClass]="{ 'file-loaded' : attachmentsDict['CI_RETRO'] && attachmentsDict['CI_RETRO'].length > 0 }">Documento
          di riconoscimento Atleta (Retro)
          <mat-icon
            *ngIf="attachmentsDict['CI_RETRO'] && attachmentsDict['CI_RETRO'].length > 0">check</mat-icon></label>
        <input type="file" id="fileInput2" (change)="selectFile($event, 'CI_RETRO')" name="fileInput2" />
      </div>
      <div *ngIf="!alreadySigned" class="upload-section">
        <label
          [ngClass]="{ 'file-loaded' : attachmentsDict['TESSERA_SANITARIA'] && attachmentsDict['TESSERA_SANITARIA'].length > 0 }">Tessera
          sanitaria Atleta
          <mat-icon
            *ngIf="attachmentsDict['TESSERA_SANITARIA'] && attachmentsDict['TESSERA_SANITARIA'].length > 0">check</mat-icon></label>
        <input type="file" id="fileInput3" (change)="selectFile($event, 'TESSERA_SANITARIA')" name="fileInput3" />
      </div>
      <div class="upload-section">
        <label
          [ngClass]="{ 'file-loaded' : attachmentsDict['VERSAMENTO_CAPARRA'] && attachmentsDict['VERSAMENTO_CAPARRA'].length > 0 }">Attestazione
          Versamento caparra<mat-icon
            *ngIf="attachmentsDict['VERSAMENTO_CAPARRA'] && attachmentsDict['VERSAMENTO_CAPARRA'].length > 0">check</mat-icon></label>
        <input type="file" id="fileInput4" (change)="selectFile($event, 'VERSAMENTO_CAPARRA')" name="fileInput4" />
      </div>
      <div *ngIf="!alreadySigned" class="upload-section">
        <label
          [ngClass]="{ 'file-loaded' : attachmentsDict['CERTIFICATO_MEDICO'] && attachmentsDict['CERTIFICATO_MEDICO'].length > 0 }">Certificato
          medico di idoneità agonistica (non agonistico per
          i nati dal 2015 in poi)<mat-icon
            *ngIf="attachmentsDict['CERTIFICATO_MEDICO'] && attachmentsDict['CERTIFICATO_MEDICO'].length > 0">check</mat-icon></label>
        <input type="file" id="fileInputCertificatoMedico" (change)="selectFile($event, 'CERTIFICATO_MEDICO')"
          name="fileInputCertificatoMedico" />
      </div>
      <div class="upload-section"
        *ngIf="!upload && (isMaggiorenne? datiAtletaMaggiorenne.value['allergie'] : datiAtletaMinorenne.value['allergie']) && !alreadySigned">
        <label
          [ngClass]="{ 'file-loaded' : attachmentsDict['ALLERGIE_INTOLLERANZE'] && attachmentsDict['ALLERGIE_INTOLLERANZE'].length > 0 }">Documentazione
          Allergie/Intolleranze<mat-icon
            *ngIf="attachmentsDict['ALLERGIE_INTOLLERANZE'] && attachmentsDict['ALLERGIE_INTOLLERANZE'].length > 0">check</mat-icon></label>
        <input type="file" id="fileInput5" (change)="selectFile($event, 'ALLERGIE_INTOLLERANZE')" name="fileInput5" />
      </div>
<!--      <div *ngIf="isGara" class="upload-section">
        <label
          [ngClass]="{ 'file-loaded' : attachmentsDict['MODULO_RESPONSABILITA'] && attachmentsDict['MODULO_RESPONSABILITA'].length > 0 }">Modulo
          di responsabilità per la gara<mat-icon
            *ngIf="attachmentsDict['MODULO_RESPONSABILITA'] && attachmentsDict['MODULO_RESPONSABILITA'].length > 0">check</mat-icon></label>
        <input type="file" id="fileInputModuloResponsabilitaGara" (change)="selectFile($event, 'MODULO_RESPONSABILITA')"
          name="fileInputModuloResponsabilitaGara" />
      </div>-->

      <div class="upload-section" *ngIf="upload">

        <div class="form-group title">
          <label>Allergie (allegare eventuale documentazione)</label>
          <mat-checkbox matInput [(ngModel)]="allergie" placeholder="allergie"></mat-checkbox>
        </div>

        <label *ngIf="allergie"
          [ngClass]="{ 'file-loaded' : attachmentsDict['ALLERGIE_INTOLLERANZE'] && attachmentsDict['ALLERGIE_INTOLLERANZE'].length > 0 }">Documentazione
          Allergie/Intolleranze<mat-icon
            *ngIf="attachmentsDict['ALLERGIE_INTOLLERANZE'] && attachmentsDict['ALLERGIE_INTOLLERANZE'].length > 0">check</mat-icon></label>
        <input *ngIf="allergie" type="file" id="fileInput5" (change)="selectFile($event, 'ALLERGIE_INTOLLERANZE')"
          name="fileInput5" />
      </div>
      <div class="upload-section" *ngIf="isAllLoaded()">
        <button *ngIf="!sendingMail && getSentOk() === 0 && getSentError() === 0" mat-raised-button
          (click)="sendMailWithService()"><mat-icon fontIcon="send"></mat-icon>
          <span>Invia modulo</span>
        </button>
        <div class="action-loading" *ngIf="(getSentOk() + getSentError()) < totalMails">
          Invio documenti in corso. Non chiudere questa pagina fino al completamento. ({{mailAlreadySent}} /
          {{totalMails}})
        </div>
        <mat-spinner *ngIf="(getSentOk() + getSentError()) < totalMails"></mat-spinner>
        <div class="action-complete" *ngIf="getSentOk() > 0 && getSentOk() === totalMails">
          <label>Modulo inviato con successo!<br />
            Sarà ricontattato/a ai contatti indicati non appena sarà effettuata la verifica dei dati <span
              *ngIf="!isPizzo()"> e del pagamento della quota</span>.
          </label>
        </div>
        <div class="action-error" *ngIf="getSentError() > 0">
          <label>Si è verificato un errore durante l'invio della mail. Invia gli eventuali messaggi sottostanti
            all'amministratore per contribuire a migliorare l'applicazione. Grazie. Puoi riprovare provando ad
            aggiornare la pagina del browser</label>
        </div>
        <div *ngIf="errorDescriptions && errorDescriptions.length > 0">
          <div *ngFor="let error of errorDescriptions">{{ error }}</div>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button mat-raised-button (click)="scroll()" matStepperPrevious><mat-icon fontIcon="arrow_back"></mat-icon>
        <span>Indietro</span></button>
    </div>
  </mat-step>
</mat-stepper>

<div *ngIf="isMaggiorenne ? datiAtletaMaggiorenne.valid : datiAtletaMinorenne.valid" id="firstPage" class="page">
  <h3 class="title"><img alt="logo_image" [src]="logoBase64" width="100px" />MODULO D'ISCRIZIONE HERACLEA
    FENCING CAMP</h3>
  <div *ngIf="!isMaggiorenne" class="dati_atleta">
    <p>
      il/la sottoscritto/a <strong>{{datiAtletaMinorenne.value['nomeGenitore']}}</strong>&nbsp;
      <strong>{{datiAtletaMinorenne.value['cognomeGenitore']}}</strong>
      nato/a a <strong>{{datiAtletaMinorenne.value['luogoGenitore']}}</strong> il
      <strong>{{datiAtletaMinorenne.value['dataNascitaGenitore']}}</strong>
      Residente <strong>{{datiAtletaMinorenne.value['residenzaGenitore']}}</strong> in Via
      <strong>{{datiAtletaMinorenne.value['viaResidenzaGenitore']}}</strong> n°
      <strong>{{datiAtletaMinorenne.value['nResidenzaGenitore']}}</strong>
      Email <strong>{{datiAtletaMinorenne.value['email']}}</strong> Cell Padre
      <strong>{{datiAtletaMinorenne.value['telefonoPadre']}}</strong> - Cell Madre
      <strong>{{datiAtletaMinorenne.value['telefonoMadre']}}</strong>
      in qualità di genitore/esercente la patria potestà <strong>chiede</strong> l'iscrizione al
      campus&nbsp;<strong>{{datiAtletaMinorenne.value['iscrizione']}}</strong>&nbsp; <span *ngIf="isAlsoForGara()">&nbsp;ed anche all'evento gara (individuale o squadre) dal 2 al 4 settembre 2024&nbsp;</span> del/della figlio/figlia:
    </p>
    <p>
      Nome <strong>{{datiAtletaMinorenne.value['nome']}}</strong> Cognome
      <strong>{{datiAtletaMinorenne.value['cognome']}}</strong>
      nato/a a <strong>{{datiAtletaMinorenne.value['luogo']}}</strong> il
      <strong>{{datiAtletaMinorenne.value['dataNascita']}}</strong> Residente a
      <strong>{{datiAtletaMinorenne.value['residenza']}}</strong>
      in Via <strong>{{datiAtletaMinorenne.value['viaResidenza']}}</strong> n°
      <strong>{{datiAtletaMinorenne.value['nResidenza']}}</strong>
      <br />
      Tesserato con la Società <strong>{{datiAtletaMinorenne.value['societa']}}</strong>
      Numero F.I.S. <strong>{{datiAtletaMinorenne.value['numeroFIS']}}</strong>
      <br />
      Allergie o intolleranze <strong>{{datiAtletaMinorenne.value['allergie'] ? 'SI' : 'NO'}}</strong>
      Desidererei, se possibile, essere sistemato/a in camera con
      <strong>{{datiAtletaMinorenne.value['preferenzaCamera']}}</strong>
      <br />
      Cell Atleta <strong>{{datiAtletaMinorenne.value['telefonoAtleta']}}</strong>
      <br />
      T-Shirt <strong>{{datiAtletaMinorenne.value['tShirt']}}</strong> Pantaloncino
      <strong>{{datiAtletaMinorenne.value['pantaloncino']}}</strong>
      <br />
      taglie disponibili XXXS-XXS (bambino) - XS-S-M-L-XL (adulto)
    </p>
  </div>
  <div *ngIf="isMaggiorenne" class="dati_atleta">
    <p>
      il/la sottoscritto/a <strong>{{datiAtletaMaggiorenne.value['nome']}}</strong>&nbsp;
      <strong>{{datiAtletaMaggiorenne.value['cognome']}}</strong> <strong>chiede</strong>
      l'iscrizione al campus: <strong>{{datiAtletaMaggiorenne.value['iscrizione']}}</strong> <span *ngIf="isAlsoForGara()">&nbsp;ed anche all'evento gara (individuale o squadre) dal 2 al 4 settembre 2024&nbsp;</span>
    </p>
    <p>
      nato/a a <strong>{{datiAtletaMaggiorenne.value['luogo']}}</strong> il
      <strong>{{datiAtletaMaggiorenne.value['dataNascita']}}</strong> Residente a
      <strong>{{datiAtletaMaggiorenne.value['residenza']}}</strong> in Via
      <strong>{{datiAtletaMaggiorenne.value['viaResidenza']}}</strong> n°
      <strong>{{datiAtletaMaggiorenne.value['nResidenza']}}</strong>
      <br />
      Tesserato con la Società <strong>{{datiAtletaMaggiorenne.value['societa']}}</strong>
      Numero F.I.S. <strong>{{datiAtletaMaggiorenne.value['numeroFIS']}}</strong>
      <br />
      Allergie o intolleranze <strong>{{datiAtletaMaggiorenne.value['allergie'] ? 'SI' : 'NO'}}</strong>
      Desidererei, se possibile, essere sistemato/a in camera con
      <strong>{{datiAtletaMaggiorenne.value['preferenzaCamera']}}</strong>
      <br />
      Cell Atleta <strong>{{datiAtletaMaggiorenne.value['telefonoAtleta']}}</strong> Cell Padre
      <strong>{{datiAtletaMaggiorenne.value['telefonoPadre']}}</strong> Cell Madre
      <strong>{{datiAtletaMaggiorenne.value['telefonoMadre']}}</strong>
      Email <strong>{{datiAtletaMaggiorenne.value['email']}}</strong>
      <br />
      T-Shirt <strong>{{datiAtletaMaggiorenne.value['tShirt']}}</strong> Pantaloncino
      <strong>{{datiAtletaMaggiorenne.value['pantaloncino']}}</strong>
      <br />
      taglie disponibili XXXS-XXS (bambino) - XS-S-M-L-XL (adulto)
    </p>
  </div>
  <h5 class="underline center">REGOLAMENTO GENERALE</h5>
  <div class="regolamento">
    <ol>
      <li>La quota campus ammonta a 750,00 €<span *ngIf="isAlsoForGara()"> più 170,00 € per l'evento gara. Le quote comprendono</span> <span>. La quota comprende </span>: Sistemazione in camera multipla,  pensione completa, all-inclusive 24h (solo camp di Pizzo), tassa di soggiorno, lezioni individuali e di gruppo, tornei, kit campus, attività ricreativa con l'utilizzo di tutti i servizi della struttura.</li>
      <li>Sono previste due tipologie di sconto non cumulabili fra loro.
        <ul>
          <li>50,00 € sul saldo della quota del secondo figlio/a.</li>
          <li>50,00 € per chi parteciperà ad entrambi i campus. (Sconto applicabile sul saldo del secondo campus)
          </li>
        </ul>
      </li>
      <li>
        La quota d'iscrizione verrà suddivisa come segue:
        <ul>
          <li>bonifico 1a rata di 250,00 € al momento dell'iscrizione.</li>
          <li>bonifico 2a rata di 250,00 € entro il 31 marzo 2025</li>
          <li>contanti 3a rata di 250,00 € ad inizio campus, da consegnare al proprio Maestro di sala oppure da concordare telefonicamente.</li>
        </ul>
        <p class="underline bold">La quota non è rimborsabile, fatta salva l'ipotesi di non effettuazione dello stage.</p>
      </li>
      <li>
        La società organizzatrice declina ogni responsabilità per eventuali incidenti o danni a persone o
        cose che dovessero verificarsi prima, durante e dopo il ritiro.
      </li>
      <li>
        Eventuali danni all'interno della struttura, saranno risarciti dai responsabili prima della partenza.
      </li>
    </ol>
  </div>
  <h6 class="bold">Preso atto ed approvato il presente Regolamento Generale, dichiaro di:</h6>
  <div>
    <ul>
      <li>Impegnarmi a pagare le quote d'iscrizione come riportato nel regolamento generale.</li>
      <li>Allegare modulo di iscrizione</li>
      <li>Allegare la dichiarazione di esonero delle responsabilità</li>
      <li>Allegare la liberatoria di utilizzo immagini e video</li>
      <li>Allegare copia del documento di riconoscimento e della tessera sanitaria dell'atleta</li>
      <li>Allegare copia del certificato di idoneità alla pratica agonistica in corso di validità (non agonistico per
        i nati dal 2015 in poi)</li>
      <li>Essere in regola con l'iscrizione alla F.I.S. per la stagione 2024-2025 per Formia, e 2025-2026 per Pizzo
      </li>
      <li>Attestazione di versamento della caparra (250,00 €) sul C/C bancario intestato a: Club
        Scherma
        Cosenza presso la Banca BCC Mediocrati di Rende con iban IT35 B 07062 80880 0000 0011 3720
        specificando nella causale: camp cognome e nome dell'atleta - es. Formia o Pizzo - Luigi Rossi.</li>
    </ul>
    <p>
      Si autorizza il trattamento dei dati personali, nonché alla comunicazione e diffusione degli stessi, ai sensi e
      per gli effetti dell'art. 13 del regolamento (UE) 2016/679 definito GDPR.
    </p>
    <p *ngIf="isMaggiorenne">
      Luogo e data ___________________ Firma __________________________________ (atleta maggiorenne)
    </p>
    <p *ngIf="!isMaggiorenne">
      Luogo e data ___________________ Firma __________________________________ (genitore/tutore legale)
    </p>
  </div>
</div>

<div *ngIf="isMaggiorenne ? datiAtletaMaggiorenne.valid : datiAtletaMinorenne.valid" id="secondPage" class="page">
  <h3 class="title"><img alt="logo_image" [src]="logoBase64" width="100px" />DICHIARAZIONE DI ESONERO DA
    OGNI RESPONSABILITA'</h3>

  <p *ngIf="!isMaggiorenne">
    Il/la sottoscritto/a <strong>{{datiAtletaMinorenne.value['nomeGenitore']}}</strong>&nbsp;
    <strong>{{datiAtletaMinorenne.value['cognomeGenitore']}}</strong>
    nato/a a <strong>{{datiAtletaMinorenne.value['luogoGenitore']}}</strong> il
    <strong>{{datiAtletaMinorenne.value['dataNascitaGenitore']}}</strong>
    Residente <strong>{{datiAtletaMinorenne.value['residenzaGenitore']}}</strong> in Via
    <strong>{{datiAtletaMinorenne.value['viaResidenzaGenitore']}}</strong> n°
    <strong>{{datiAtletaMinorenne.value['nResidenzaGenitore']}}</strong>
    Email <strong>{{datiAtletaMinorenne.value['email']}}</strong> Cell
    <strong>{{datiAtletaMinorenne.value['telefonoPadre']}}</strong> -
    <strong>{{datiAtletaMinorenne.value['telefonoMadre']}}</strong>
    In qualità di genitore/esercente la patria potestà del minore
    <strong>{{datiAtletaMinorenne.value['nome']}}</strong>&nbsp;
    <strong>{{datiAtletaMinorenne.value['cognome']}}</strong>
    nato/a a <strong>{{datiAtletaMinorenne.value['luogo']}}</strong> il
    <strong>{{datiAtletaMinorenne.value['dataNascita']}}</strong> Residente a
    <strong>{{datiAtletaMinorenne.value['residenza']}}</strong>
    in Via <strong>{{datiAtletaMinorenne.value['viaResidenza']}}</strong> n°
    <strong>{{datiAtletaMinorenne.value['nResidenza']}}</strong>
  </p>
  <p *ngIf="isMaggiorenne">
    il/la sottoscritto/a <strong>{{datiAtletaMaggiorenne.value['nome']}}</strong>&nbsp;
    <strong>{{datiAtletaMaggiorenne.value['cognome']}}</strong>
    nato/a a <strong>{{datiAtletaMaggiorenne.value['luogo']}}</strong> il
    <strong>{{datiAtletaMaggiorenne.value['dataNascita']}}</strong>
    Residente <strong>{{datiAtletaMaggiorenne.value['residenza']}}</strong> in Via
    <strong>{{datiAtletaMaggiorenne.value['viaResidenza']}}</strong> n°
    <strong>{{datiAtletaMaggiorenne.value['nResidenza']}}</strong>
    Email <strong>{{datiAtletaMaggiorenne.value['email']}}</strong> Cell
    <strong>{{datiAtletaMaggiorenne.value['telefonoAtleta']}}</strong>
  </p>
  <h5 class="title">CON LA PRESENTE AUTORIZZA</h5>
  <p *ngIf="!isMaggiorenne">Il/La proprio/a figlio/figlia a prendere parte al camp:</p>
  <p *ngIf="isMaggiorenne">la sua iscrizione al camp:</p>
  <ul>
    <li>{{isMaggiorenne ? datiAtletaMaggiorenne.value['iscrizione'] : datiAtletaMinorenne.value['iscrizione']}}</li>
    <!--<li *ngIf="isAlsoForGara()">Evento Gara Pizzo dal 02/09/2024 al 04/09/2024</li>-->
  </ul>
  <h5 class="title">E DICHIARA</h5>
  <p *ngIf="!isMaggiorenne">
    di aver provveduto all'iscrizione del proprio figlio/figlia e provvederà al pagamento della quota come
    riportato dal Regolamento Generale presente nel modello d'iscrizione. Dichiara altresì di sollevare il Club
    Scherma Cosenza, l'azienda/società ospitante dell'evento e la F.I.S. da ogni e qualsiasi responsabilità
    connessa al comportamento del minore, nonché da eventuali obblighi degli accompagnatori incaricati,
    anche ai sensi dell'art.2048 c.c.
  </p>
  <p *ngIf="isMaggiorenne">
    di aver provveduto all'iscrizione e provvederà al pagamento della quota come
    riportato dal Regolamento Generale presente nel modello d'iscrizione. Dichiara altresì di sollevare il Club
    Scherma Cosenza, l'azienda/società ospitante dell'evento e la F.I.S. da ogni e qualsiasi responsabilità
    connessa al comportamento del minore, nonché da eventuali obblighi degli accompagnatori incaricati,
    anche ai sensi dell'art.2048 c.c.
  </p>
  <p>
    Si autorizza il trattamento dei dati personali, nonché alla comunicazione e diffusione degli stessi, ai sensi e
    per gli effetti dell'art. 13 del regolamento (UE) 2016/679 definito GDPR.
  </p>
  <p *ngIf="isMaggiorenne">
    Luogo e data ___________________ Firma __________________________________ (atleta maggiorenne)
  </p>
  <p *ngIf="!isMaggiorenne">
    Luogo e data ___________________ Firma __________________________________ (genitore/tutore legale)
  </p>
</div>

<div *ngIf="isMaggiorenne ? datiAtletaMaggiorenne.valid : datiAtletaMinorenne.valid" id="thirdPage" class="page">
  <h3 class="title"><img alt="logo_image" [src]="logoBase64" width="100px" />LIBERATORIA DI UTILIZZO DELLE IMMAGINI E
    DEI VIDEO</h3>
  <p *ngIf="!isMaggiorenne">
    il/la sottoscritto/a <strong>{{datiAtletaMinorenne.value['nomeGenitore']}}</strong>&nbsp;
    <strong>{{datiAtletaMinorenne.value['cognomeGenitore']}}</strong>
    nato/a a <strong>{{datiAtletaMinorenne.value['luogoGenitore']}}</strong> il
    <strong>{{datiAtletaMinorenne.value['dataNascitaGenitore']}}</strong>
    Residente <strong>{{datiAtletaMinorenne.value['residenzaGenitore']}}</strong> in Via
    <strong>{{datiAtletaMinorenne.value['viaResidenzaGenitore']}}</strong> n°
    <strong>{{datiAtletaMinorenne.value['nResidenzaGenitore']}}</strong>
    In qualità di genitore/esercente la patria potestà del minore
    <strong>{{datiAtletaMinorenne.value['nome']}}</strong>&nbsp;
    <strong>{{datiAtletaMinorenne.value['cognome']}}</strong>
    nato/a a <strong>{{datiAtletaMinorenne.value['luogo']}}</strong> il
    <strong>{{datiAtletaMinorenne.value['dataNascita']}}</strong> Residente a
    <strong>{{datiAtletaMinorenne.value['residenza']}}</strong>
    in Via <strong>{{datiAtletaMinorenne.value['viaResidenza']}}</strong> n°
    <strong>{{datiAtletaMinorenne.value['nResidenza']}}</strong>
  </p>
  <p *ngIf="isMaggiorenne">
    il/la sottoscritto/a <strong>{{datiAtletaMaggiorenne.value['nome']}}</strong>&nbsp;
    <strong>{{datiAtletaMaggiorenne.value['cognome']}}</strong>
    nato/a a <strong>{{datiAtletaMaggiorenne.value['luogo']}}</strong> il
    <strong>{{datiAtletaMaggiorenne.value['dataNascita']}}</strong>
    Residente <strong>{{datiAtletaMaggiorenne.value['residenza']}}</strong> in Via
    <strong>{{datiAtletaMaggiorenne.value['viaResidenza']}}</strong> n°
    <strong>{{datiAtletaMaggiorenne.value['nResidenza']}}</strong>
  </p>
  <h5 class="title">AUTORIZZA</h5>
  <p>
    Il Club Scherma Cosenza, con sede legale in via degli stadi snc, 87100 Cosenza C.F. 98026430789 P.iva
    01973250788 (di seguito anche “Titolare” o “Club”), telefono 3926341679, email
    campusscherma@gmail.com, in qualità di Titolare del trattamento, a realizzare fotografie e riprese audio e
    video, non lesive della mia immagine, a titolo gratuito, anche ai sensi degli artt. 10 e 320 Cod. civ. e degli
    artt. 96 e 97 Legge 22.04.1941 n. 633 (Legge sul diritto d'autore) e ad utilizzare, sia direttamente, sia
    attraverso la cessione a terzi, le foto e le riprese audio e video, anche in diretta streaming, realizzate dagli
    operatori o persone incaricate dal Club, anche ai fini della comunicazione, pubblicazione e/o diffusione in
    qualsiasi forma su siti internet, su social network e su qualsiasi altro mezzo di diffusione (es. giornali,
    brochure o quotidiani). Autorizza, inoltre, la conservazione delle foto e dei video stessi negli archivi
    informatici dello stesso Titolare e prende atto che le finalità di tali pubblicazioni sono meramente di
    carattere istituzionale, informativo e promozionale.
  </p>
  <p>
    Si autorizza il trattamento dei dati personali, nonché alla comunicazione e diffusione degli stessi, ai sensi e
    per gli
    effetti dell'art. 13 del regolamento (UE) 2016/679 definito GDPR.
  </p>
  <p *ngIf="isMaggiorenne">
    Luogo e data ___________________ Firma __________________________________ (atleta maggiorenne)
  </p>
  <p *ngIf="!isMaggiorenne">
    Luogo e data ___________________ Firma __________________________________ (genitore/tutore legale)
  </p>
</div>

<div *ngIf="isMaggiorenne ? datiAtletaMaggiorenne.valid : datiAtletaMinorenne.valid" id="firstPageForGara" class="page">
  <h3 class="title"><img alt="logo_image" [src]="logoBase64" width="100px" />MODULO D'ISCRIZIONE HERACLEA
    FENCING CAMP</h3>
  <div *ngIf="!isMaggiorenne" class="dati_atleta">
    <p>
      il/la sottoscritto/a <strong>{{datiAtletaMinorenne.value['nomeGenitore']}}</strong>&nbsp;
      <strong>{{datiAtletaMinorenne.value['cognomeGenitore']}}</strong>
      nato/a a <strong>{{datiAtletaMinorenne.value['luogoGenitore']}}</strong> il
      <strong>{{datiAtletaMinorenne.value['dataNascitaGenitore']}}</strong>
      Residente <strong>{{datiAtletaMinorenne.value['residenzaGenitore']}}</strong> in Via
      <strong>{{datiAtletaMinorenne.value['viaResidenzaGenitore']}}</strong> n°
      <strong>{{datiAtletaMinorenne.value['nResidenzaGenitore']}}</strong>
      Email <strong>{{datiAtletaMinorenne.value['email']}}</strong> Cell Padre
      <strong>{{datiAtletaMinorenne.value['telefonoPadre']}}</strong> - Cell Madre
      <strong>{{datiAtletaMinorenne.value['telefonoMadre']}}</strong>
      in qualità di genitore/esercente la patria potestà <strong>chiede</strong> l'iscrizione all'evento gara (individuale o squadre) dal 2 al 4 settembre 2024 del/della figlio/figlia:
    </p>
    <p>
      Nome <strong>{{datiAtletaMinorenne.value['nome']}}</strong> Cognome
      <strong>{{datiAtletaMinorenne.value['cognome']}}</strong>
      nato/a a <strong>{{datiAtletaMinorenne.value['luogo']}}</strong> il
      <strong>{{datiAtletaMinorenne.value['dataNascita']}}</strong> Residente a
      <strong>{{datiAtletaMinorenne.value['residenza']}}</strong>
      in Via <strong>{{datiAtletaMinorenne.value['viaResidenza']}}</strong> n°
      <strong>{{datiAtletaMinorenne.value['nResidenza']}}</strong>
      <br />
      Tesserato con la Società <strong>{{datiAtletaMinorenne.value['societa']}}</strong>
      Numero F.I.S. <strong>{{datiAtletaMinorenne.value['numeroFIS']}}</strong>
      <br />
      Allergie o intolleranze <strong>{{datiAtletaMinorenne.value['allergie'] ? 'SI' : 'NO'}}</strong>
      Desidererei, se possibile, essere sistemato/a in camera con
      <strong>{{datiAtletaMinorenne.value['preferenzaCamera']}}</strong>
      <br />
      Cell Atleta <strong>{{datiAtletaMinorenne.value['telefonoAtleta']}}</strong>
      <br />
      T-Shirt <strong>{{datiAtletaMinorenne.value['tShirt']}}</strong>
    </p>
  </div>
  <div *ngIf="isMaggiorenne" class="dati_atleta">
    <p>
      il/la sottoscritto/a <strong>{{datiAtletaMaggiorenne.value['nome']}}</strong>&nbsp;
      <strong>{{datiAtletaMaggiorenne.value['cognome']}}</strong> <strong>chiede</strong>
      l'iscrizione all'evento gara (individuale o squadre) dal 2 al 4 settembre 2024
    </p>
    <p>
      nato/a a <strong>{{datiAtletaMaggiorenne.value['luogo']}}</strong> il
      <strong>{{datiAtletaMaggiorenne.value['dataNascita']}}</strong> Residente a
      <strong>{{datiAtletaMaggiorenne.value['residenza']}}</strong> in Via
      <strong>{{datiAtletaMaggiorenne.value['viaResidenza']}}</strong> n°
      <strong>{{datiAtletaMaggiorenne.value['nResidenza']}}</strong>
      <br />
      Tesserato con la Società <strong>{{datiAtletaMaggiorenne.value['societa']}}</strong>
      Numero F.I.S. <strong>{{datiAtletaMaggiorenne.value['numeroFIS']}}</strong>
      <br />
      Allergie o intolleranze <strong>{{datiAtletaMaggiorenne.value['allergie'] ? 'SI' : 'NO'}}</strong>
      Desidererei, se possibile, essere sistemato/a in camera con
      <strong>{{datiAtletaMaggiorenne.value['preferenzaCamera']}}</strong>
      <br />
      Cell Atleta <strong>{{datiAtletaMaggiorenne.value['telefonoAtleta']}}</strong> Cell Padre
      <strong>{{datiAtletaMaggiorenne.value['telefonoPadre']}}</strong> Cell Madre
      <strong>{{datiAtletaMaggiorenne.value['telefonoMadre']}}</strong>
      Email <strong>{{datiAtletaMaggiorenne.value['email']}}</strong>
      <br />
      T-Shirt <strong>{{datiAtletaMaggiorenne.value['tShirt']}}</strong>
    </p>
  </div>
  <h5 class="underline center">REGOLAMENTO GENERALE</h5>
  <div class="regolamento">
    <ol>
      <li>La quota per l'evento gara ammonta a 170,00 €. La quota copre: sistemazione in camera multipla, pensione completa, all-inclusive 24h (solo camp di Pizzo), t-shirt, partecipazione alla gara, attività ricreativa con l'utilizzo di tutti i servizi della struttura.
      </li>
      <li>
        Anticipo quota d'iscrizione di 100,00 €, saldo da consegnare al proprio Maestro di sala oppure da concordare telefonicamente. La quota non è rimborsabile, fatta salva l'ipotesi di non effettuazione dell'evento.
      </li>
      <li>
        La società organizzatrice declina ogni responsabilità per eventuali incidenti o danni a persone o cose che dovessero verificarsi prima, durante e dopo il ritiro. 
      </li>
      <li>
        La società organizzatrice declina ogni responsabilità per eventuali incidenti o danni a persone o
        cose che dovessero verificarsi prima, durante e dopo il ritiro.
      </li>
      <li>
        Eventuali danni all'interno della struttura, saranno risarciti dai responsabili prima della partenza.
      </li>
    </ol>
  </div>
  <h6 class="bold">Preso atto ed approvato il presente Regolamento Generale, dichiaro di:</h6>
  <div>
    <ul>
      <li>Allegare modulo di iscrizione</li>
      <li>Allegare la dichiarazione di esonero delle responsabilità</li>
      <li>Allegare la liberatoria di utilizzo immagini e video</li>
      <li>Allegare copia del documento di riconoscimento e della tessera sanitaria dell'atleta</li>
      <li>Allegare copia del certificato di idoneità alla pratica agonistica in corso di validità (non agonistico per
        i nati dal 2015 in poi)</li>
      <li>Essere in regola con l'iscrizione alla F.I.S. per la stagione 2024-2025</li>
      <li>Attestazione di versamento della caparra 100,00 € sul C/C bancario intestato a: Club Scherma Cosenza presso la Banca BCC Mediocrati di Rende con iban IT35 B 07062 80880 0000 0011 3720 specifcando nella causale: Evento gara cognome e nome dell'atleta - es. evento gara - Luigi Rossi</li>
    </ul>
    <p>
      Si autorizza il trattamento dei dati personali, nonché alla comunicazione e diffusione degli stessi, ai sensi e
      per gli effetti dell'art. 13 del regolamento (UE) 2016/679 definito GDPR.
    </p>
    <p *ngIf="isMaggiorenne">
      Luogo e data ___________________ Firma __________________________________ (atleta maggiorenne)
    </p>
    <p *ngIf="!isMaggiorenne">
      Luogo e data ___________________ Firma __________________________________ (genitore/tutore legale)
    </p>
  </div>
</div>

<div *ngIf="isMaggiorenne ? datiAtletaMaggiorenne.valid : datiAtletaMinorenne.valid" id="secondPageForGara" class="page">
  <h3 class="title"><img alt="logo_image" [src]="logoBase64" width="100px" />DICHIARAZIONE DI ESONERO DA
    OGNI RESPONSABILITA'</h3>

  <p *ngIf="!isMaggiorenne">
    Il/la sottoscritto/a <strong>{{datiAtletaMinorenne.value['nomeGenitore']}}</strong>&nbsp;
    <strong>{{datiAtletaMinorenne.value['cognomeGenitore']}}</strong>
    nato/a a <strong>{{datiAtletaMinorenne.value['luogoGenitore']}}</strong> il
    <strong>{{datiAtletaMinorenne.value['dataNascitaGenitore']}}</strong>
    Residente <strong>{{datiAtletaMinorenne.value['residenzaGenitore']}}</strong> in Via
    <strong>{{datiAtletaMinorenne.value['viaResidenzaGenitore']}}</strong> n°
    <strong>{{datiAtletaMinorenne.value['nResidenzaGenitore']}}</strong>
    Email <strong>{{datiAtletaMinorenne.value['email']}}</strong> Cell
    <strong>{{datiAtletaMinorenne.value['telefonoPadre']}}</strong> -
    <strong>{{datiAtletaMinorenne.value['telefonoMadre']}}</strong>
    In qualità di genitore/esercente la patria potestà del minore
    <strong>{{datiAtletaMinorenne.value['nome']}}</strong>&nbsp;
    <strong>{{datiAtletaMinorenne.value['cognome']}}</strong>
    nato/a a <strong>{{datiAtletaMinorenne.value['luogo']}}</strong> il
    <strong>{{datiAtletaMinorenne.value['dataNascita']}}</strong> Residente a
    <strong>{{datiAtletaMinorenne.value['residenza']}}</strong>
    in Via <strong>{{datiAtletaMinorenne.value['viaResidenza']}}</strong> n°
    <strong>{{datiAtletaMinorenne.value['nResidenza']}}</strong>
  </p>
  <p *ngIf="isMaggiorenne">
    il/la sottoscritto/a <strong>{{datiAtletaMaggiorenne.value['nome']}}</strong>&nbsp;
    <strong>{{datiAtletaMaggiorenne.value['cognome']}}</strong>
    nato/a a <strong>{{datiAtletaMaggiorenne.value['luogo']}}</strong> il
    <strong>{{datiAtletaMaggiorenne.value['dataNascita']}}</strong>
    Residente <strong>{{datiAtletaMaggiorenne.value['residenza']}}</strong> in Via
    <strong>{{datiAtletaMaggiorenne.value['viaResidenza']}}</strong> n°
    <strong>{{datiAtletaMaggiorenne.value['nResidenza']}}</strong>
    Email <strong>{{datiAtletaMaggiorenne.value['email']}}</strong> Cell
    <strong>{{datiAtletaMaggiorenne.value['telefonoAtleta']}}</strong>
  </p>
  <h5 class="title">CON LA PRESENTE AUTORIZZA</h5>
  <p *ngIf="!isMaggiorenne">Il/La proprio/a figlio/figlia a prendere parte all' Evento Gara dal 2 al 4 settembre 2024</p>
  <p *ngIf="isMaggiorenne">la sua iscrizione all' Evento Gara dal 2 al 4 settembre 2024</p>
  <h5 class="title">E DICHIARA</h5>
  <p *ngIf="!isMaggiorenne">
    di aver provveduto all'iscrizione del proprio figlio/figlia e provvederà al pagamento della quota come
    riportato dal Regolamento Generale presente nel modello d'iscrizione. Dichiara altresì di sollevare il Club
    Scherma Cosenza, l'azienda/società ospitante dell'evento e la F.I.S. da ogni e qualsiasi responsabilità
    connessa al comportamento del minore, nonché da eventuali obblighi degli accompagnatori incaricati,
    anche ai sensi dell'art.2048 c.c.
  </p>
  <p *ngIf="isMaggiorenne">
    di aver provveduto all'iscrizione e provvederà al pagamento della quota come
    riportato dal Regolamento Generale presente nel modello d'iscrizione. Dichiara altresì di sollevare il Club
    Scherma Cosenza, l'azienda/società ospitante dell'evento e la F.I.S. da ogni e qualsiasi responsabilità
    connessa al comportamento del minore, nonché da eventuali obblighi degli accompagnatori incaricati,
    anche ai sensi dell'art.2048 c.c.
  </p>
  <p>
    Si autorizza il trattamento dei dati personali, nonché alla comunicazione e diffusione degli stessi, ai sensi e
    per gli effetti dell'art. 13 del regolamento (UE) 2016/679 definito GDPR.
  </p>
  <p *ngIf="isMaggiorenne">
    Luogo e data ___________________ Firma __________________________________ (atleta maggiorenne)
  </p>
  <p *ngIf="!isMaggiorenne">
    Luogo e data ___________________ Firma __________________________________ (genitore/tutore legale)
  </p>
</div>

<div *ngIf="isMaggiorenne ? datiAtletaMaggiorenne.valid : datiAtletaMinorenne.valid" id="thirdPageForGara" class="page">
  <h3 class="title"><img alt="logo_image" [src]="logoBase64" width="100px" />LIBERATORIA DI UTILIZZO DELLE IMMAGINI E
    DEI VIDEO</h3>
  <p *ngIf="!isMaggiorenne">
    il/la sottoscritto/a <strong>{{datiAtletaMinorenne.value['nomeGenitore']}}</strong>&nbsp;
    <strong>{{datiAtletaMinorenne.value['cognomeGenitore']}}</strong>
    nato/a a <strong>{{datiAtletaMinorenne.value['luogoGenitore']}}</strong> il
    <strong>{{datiAtletaMinorenne.value['dataNascitaGenitore']}}</strong>
    Residente <strong>{{datiAtletaMinorenne.value['residenzaGenitore']}}</strong> in Via
    <strong>{{datiAtletaMinorenne.value['viaResidenzaGenitore']}}</strong> n°
    <strong>{{datiAtletaMinorenne.value['nResidenzaGenitore']}}</strong>
    In qualità di genitore/esercente la patria potestà del minore
    <strong>{{datiAtletaMinorenne.value['nome']}}</strong>&nbsp;
    <strong>{{datiAtletaMinorenne.value['cognome']}}</strong>
    nato/a a <strong>{{datiAtletaMinorenne.value['luogo']}}</strong> il
    <strong>{{datiAtletaMinorenne.value['dataNascita']}}</strong> Residente a
    <strong>{{datiAtletaMinorenne.value['residenza']}}</strong>
    in Via <strong>{{datiAtletaMinorenne.value['viaResidenza']}}</strong> n°
    <strong>{{datiAtletaMinorenne.value['nResidenza']}}</strong>
  </p>
  <p *ngIf="isMaggiorenne">
    il/la sottoscritto/a <strong>{{datiAtletaMaggiorenne.value['nome']}}</strong>&nbsp;
    <strong>{{datiAtletaMaggiorenne.value['cognome']}}</strong>
    nato/a a <strong>{{datiAtletaMaggiorenne.value['luogo']}}</strong> il
    <strong>{{datiAtletaMaggiorenne.value['dataNascita']}}</strong>
    Residente <strong>{{datiAtletaMaggiorenne.value['residenza']}}</strong> in Via
    <strong>{{datiAtletaMaggiorenne.value['viaResidenza']}}</strong> n°
    <strong>{{datiAtletaMaggiorenne.value['nResidenza']}}</strong>
  </p>
  <h5 class="title">AUTORIZZA</h5>
  <p>
    Il Club Scherma Cosenza, con sede legale in via degli stadi snc, 87100 Cosenza C.F. 98026430789 P.iva
    01973250788 (di seguito anche “Titolare” o “Club”), telefono 3926341679, email
    campusscherma@gmail.com, in qualità di Titolare del trattamento, a realizzare fotografie e riprese audio e
    video, non lesive della mia immagine, a titolo gratuito, anche ai sensi degli artt. 10 e 320 Cod. civ. e degli
    artt. 96 e 97 Legge 22.04.1941 n. 633 (Legge sul diritto d'autore) e ad utilizzare, sia direttamente, sia
    attraverso la cessione a terzi, le foto e le riprese audio e video, anche in diretta streaming, realizzate dagli
    operatori o persone incaricate dal Club, anche ai fini della comunicazione, pubblicazione e/o diffusione in
    qualsiasi forma su siti internet, su social network e su qualsiasi altro mezzo di diffusione (es. giornali,
    brochure o quotidiani). Autorizza, inoltre, la conservazione delle foto e dei video stessi negli archivi
    informatici dello stesso Titolare e prende atto che le finalità di tali pubblicazioni sono meramente di
    carattere istituzionale, informativo e promozionale.
  </p>
  <p>
    Si autorizza il trattamento dei dati personali, nonché alla comunicazione e diffusione degli stessi, ai sensi e
    per gli
    effetti dell'art. 13 del regolamento (UE) 2016/679 definito GDPR.
  </p>
  <p *ngIf="isMaggiorenne">
    Luogo e data ___________________ Firma __________________________________ (atleta maggiorenne)
  </p>
  <p *ngIf="!isMaggiorenne">
    Luogo e data ___________________ Firma __________________________________ (genitore/tutore legale)
  </p>
</div>