<mat-stepper #stepperM [linear]="true">
    <mat-step label="Intestatario prenotazione" [completed]="isStepCompleted('Intestatario prenotazione')">
        <h3>Inserisci i dati dell'intestatario della prenotazione</h3>
        <!-- INTESTATARIO CAMERA -->
        <div [formGroup]="intestatario" id="english-form" class="content">
            <div class="form-group title">
                <label>Nome</label>
                <input matInput class="form-control" formControlName="nome" placeholder="Nome">
                <div class="characters-notify">
                    <span *ngIf="intestatarioFormControl['nome'].touched && intestatarioFormControl['nome'].errors"
                        class="form--error">
                        <span *ngIf="intestatarioFormControl['nome'].errors['required']">
                            Questo campo è obbligatorio
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group title">
                <label>Cognome</label>
                <input matInput class="form-control" formControlName="cognome" placeholder="Cognome">
                <div class="characters-notify">
                    <span
                        *ngIf="intestatarioFormControl['cognome'].touched && intestatarioFormControl['cognome'].errors"
                        class="form--error">
                        <span *ngIf="intestatarioFormControl['cognome'].errors['required']">
                            Questo campo è obbligatorio
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group title">
                <label>Luogo di nascita</label>
                <input matInput class="form-control" formControlName="luogo" placeholder="Luogo di nascita">
                <div class="characters-notify">
                    <span *ngIf="intestatarioFormControl['luogo'].touched && intestatarioFormControl['luogo'].errors"
                        class="form--error">
                        <span *ngIf="intestatarioFormControl['luogo'].errors['required']">
                            Questo campo è obbligatorio
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group title">
                <label>Data di nascita</label>
                <input matInput class="form-control" type="date" formControlName="dataNascita"
                    placeholder="Data di nascita">
                <div class="characters-notify">
                    <span
                        *ngIf="intestatarioFormControl['dataNascita'].touched && intestatarioFormControl['dataNascita'].errors"
                        class="form--error">
                        <span *ngIf="intestatarioFormControl['dataNascita'].errors['required']">
                            Questo campo è obbligatorio
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group title">
                <label>Residenza</label>
                <input matInput class="form-control" formControlName="residenza" placeholder="Residente in">
                <div class="characters-notify">
                    <span
                        *ngIf="intestatarioFormControl['residenza'].touched && intestatarioFormControl['residenza'].errors"
                        class="form--error">
                        <span *ngIf="intestatarioFormControl['residenza'].errors['required']">
                            Questo campo è obbligatorio
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group title">
                <label>in via</label>
                <input matInput class="form-control" formControlName="viaResidenza" placeholder="Via">
                <div class="characters-notify">
                    <span
                        *ngIf="intestatarioFormControl['viaResidenza'].touched && intestatarioFormControl['viaResidenza'].errors"
                        class="form--error">
                        <span *ngIf="intestatarioFormControl['viaResidenza'].errors['required']">
                            Questo campo è obbligatorio
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group title">
                <label>n°</label>
                <input matInput class="form-control" formControlName="nResidenza" placeholder="n°">
                <div class="characters-notify">
                    <span
                        *ngIf="intestatarioFormControl['nResidenza'].touched && intestatarioFormControl['nResidenza'].errors"
                        class="form--error">
                        <span *ngIf="intestatarioFormControl['nResidenza'].errors['required']">
                            Questo campo è obbligatorio
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group title">
                <label>Telefono</label>
                <input matInput type="number" class="form-control" formControlName="telefono" placeholder="...">
                <div class="characters-notify">
                    <span
                        *ngIf="intestatarioFormControl['telefono'].touched && intestatarioFormControl['telefono'].errors"
                        class="form--error">
                        <span *ngIf="intestatarioFormControl['telefono'].errors['required']">
                            Questo campo è obbligatorio
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group title">
                <label>Email</label>
                <input matInput type="email" class="form-control" formControlName="email" placeholder="...">
                <div class="characters-notify">
                    <span *ngIf="intestatarioFormControl['email'].touched && intestatarioFormControl['email'].errors"
                        class="form--error">
                        <span *ngIf="intestatarioFormControl['email'].errors['required']">
                            Questo campo è obbligatorio
                        </span>
                        <span *ngIf="intestatarioFormControl['email'].errors['email']">
                            Inserire una mail valida
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group title">
                <label>Partecipi alla gara?</label>
                <mat-checkbox matInput formControlName="gara" placeholder="gara"></mat-checkbox>
                <div class="characters-notify">
                    <span *ngIf="intestatarioFormControl['gara'].touched && intestatarioFormControl['gara'].errors"
                        class="form--error">
                        <span *ngIf="intestatarioFormControl['gara'].errors['required']">
                            Questo campo è obbligatorio
                        </span>
                    </span>
                </div>
            </div>
            <div *ngIf="intestatario.value['gara']" class="form-group title">
                <label>Taglia T-Shirt</label>
                <mat-select class="form-control" formControlName="tShirt">
                    <mat-option value="XXXS">XXXS</mat-option>
                    <mat-option value="XXS">XXS</mat-option>
                    <mat-option value="XS">XS</mat-option>
                    <mat-option value="S">S</mat-option>
                    <mat-option value="M">M</mat-option>
                    <mat-option value="L">L</mat-option>
                    <mat-option value="XL">XL</mat-option>
                </mat-select>
                <div class="characters-notify">
                    <span *ngIf="intestatarioFormControl['tShirt'].touched && intestatarioFormControl['tShirt'].errors"
                        class="form--error">
                        <span *ngIf="intestatarioFormControl['tShirt'].errors['required']">
                            Questo campo è obbligatorio
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="button-container">
            <button
                *ngIf="intestatario.valid && (!intestatario.value['gara'] || (intestatario.value['gara'] && intestatario.value['tShirt']))"
                mat-raised-button color="primary" matStepperNext>
                <span>Avanti</span> <mat-icon fontIcon="arrow_forward"></mat-icon>
            </button>
        </div>
    </mat-step>

    <mat-step label="Altri ospiti" [completed]="isStepCompleted('Altri ospiti')">
        <h4>Inserisci i nomi delle persone incluse nella prenotazione</h4>
        <div class="accordion-container">
            <cdk-accordion class="example-accordion">
                <cdk-accordion-item *ngFor="let n of steps; let index = index" #accordionItem="cdkAccordionItem"
                    class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
                    [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
                    <div class="example-accordion-item-header" [ngClass]="{'success': isSubStepCompleted(n)}"
                        (click)="accordionItem.toggle()">
                        {{ index + 1}}
                        <span class="example-accordion-item-description">
                            Click per {{ accordionItem.expanded ? 'chiudere' : 'aprire' }}
                        </span>
                    </div>
                    <div class="example-accordion-item-body" role="region"
                        [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                        [attr.aria-labelledby]="'accordion-header-' + index">


                        <div class="nome-cognome-atleta form-group title">
                            <label class="wi-25">Nome</label>
                            <input matInput class="form-control" [(ngModel)]="nomiECognomi[n].nome" placeholder="Nome">
                            <div class="characters-notify">
                                <span *ngIf="!nomiECognomi[n].nome || nomiECognomi[n].nome === ''" class="form--error">
                                    Questo campo è obbligatorio
                                </span>
                            </div>
                        </div>
                        <div class="nome-cognome-atleta form-group title">
                            <label class="wi-25">Cognome</label>
                            <input matInput class="form-control" [(ngModel)]="nomiECognomi[n].cognome"
                                placeholder="Cognome">
                            <div class="characters-notify">
                                <span *ngIf="!nomiECognomi[n].cognome || nomiECognomi[n].cognome === ''"
                                    class="form--error">
                                    Questo campo è obbligatorio
                                </span>
                            </div>
                        </div>
                        <div class="nome-cognome-atleta form-group title">
                            <label class="wi-25">Data di nascita</label>
                            <input matInput class="form-control" type="date" [(ngModel)]="nomiECognomi[n].dataNascita"
                                placeholder="Data di nascita">
                            <div class="characters-notify">
                                <span *ngIf="!nomiECognomi[n].dataNascita || nomiECognomi[n].dataNascita === ''"
                                    class="form--error">
                                    Questo campo è obbligatorio
                                </span>
                            </div>
                        </div>
                        <div class="nome-cognome-atleta form-group title">
                            <label class="wi-25">Partecipa alla gara?</label>
                            <mat-checkbox matInput [(ngModel)]="nomiECognomi[n].gara"
                                placeholder="iscrizione gara"></mat-checkbox>
                        </div>
                        <div *ngIf="nomiECognomi[n].gara" class="nome-cognome-atleta form-group title">
                            <label>Taglia T-Shirt</label>
                            <mat-select class="form-control" [(ngModel)]="nomiECognomi[n].tShirt">
                                <mat-option value="XXXS">XXXS</mat-option>
                                <mat-option value="XXS">XXS</mat-option>
                                <mat-option value="XS">XS</mat-option>
                                <mat-option value="S">S</mat-option>
                                <mat-option value="M">M</mat-option>
                                <mat-option value="L">L</mat-option>
                                <mat-option value="XL">XL</mat-option>
                            </mat-select>
                            <div class="characters-notify">
                                <span *ngIf="nomiECognomi[n].gara && nomiECognomi[n].tShirt === ''" class="form--error">
                                    Questo campo è obbligatorio
                                </span>
                            </div>
                        </div>
                    </div>
                </cdk-accordion-item>
            </cdk-accordion>
        </div>

        <div class="button-container">
            <button mat-raised-button matStepperPrevious><mat-icon fontIcon="arrow_back"></mat-icon>
                <span>Indietro</span></button>
            <button *ngIf="isAllSubStepsCompleted()" mat-raised-button color="primary" matStepperNext>
                <span>Avanti</span> <mat-icon fontIcon="arrow_forward"></mat-icon>
            </button>
        </div>

    </mat-step>

    <mat-step label="Esporta Modulo">
        <p style="font-weight: bold;">
            Scarica e stampa i moduli precompilati, firmali in originale e ricaricali nello step successivo per il
            completamento dell'iscrizione.
        </p>
        <div class="upload-section">
            <button mat-raised-button *ngIf="intestatario.valid" (click)="exportPDF()" color="primary">
                <span>Scarica Modulo</span> <mat-icon fontIcon="download"></mat-icon>
            </button>
        </div>

        <div class="button-container">
            <button mat-raised-button matStepperPrevious><mat-icon fontIcon="arrow_back"></mat-icon>
                <span>Indietro</span></button>
            <button *ngIf="isAllSubStepsCompleted()" mat-raised-button color="primary" matStepperNext>
                <span>Avanti</span> <mat-icon fontIcon="arrow_forward"></mat-icon>
            </button>
        </div>
    </mat-step>

    <mat-step label="Carica documenti" [completed]="isStepCompleted('Carica documenti')">

        <h4>Carica i documenti di tutte le persone della prenotazione</h4>

        <div class="upload-section">
            <label [ngClass]="{ 'file-loaded': moduloIscrizione }">
                Modulo Iscrizione
                <mat-icon *ngIf="moduloIscrizione">check</mat-icon></label>
            <input type="file" id="moduloIscrizione" (change)="selectFile($event, -2)" name="moduloIscrizione" />
        </div>

        <div class="upload-section">
            <label [ngClass]="{ 'file-loaded': docIntestatario }">
                Documento Intestatario (FRONTE)
                <mat-icon *ngIf="docIntestatario">check</mat-icon></label>
            <input type="file" id="documento_intestatario" (change)="selectFile($event, -1)"
                name="documento_intestatario" />
        </div>

        <div class="upload-section">
            <label [ngClass]="{ 'file-loaded': docIntestatario_1 }">
                Documento Intestatario (RETRO)
                <mat-icon *ngIf="docIntestatario_1">check</mat-icon></label>
            <input type="file" id="documento_intestatario_1" (change)="selectFile($event, -1, true)"
                name="documento_intestatario_1" />
        </div>

        <div *ngFor="let doc of steps" class="upload-section">
            <label [ngClass]="{ 'file-loaded': nomiECognomi[doc].doc }">
                Documento {{doc + 1}} (FRONTE)
                <mat-icon *ngIf="nomiECognomi[doc].doc">check</mat-icon></label>
            <input type="file" id="documento_{{doc}}" (change)="selectFile($event, doc)" name="documento_{{doc}}" />

            <label [ngClass]="{ 'file-loaded': nomiECognomi[doc].doc_1 }">
                Documento {{doc + 1}} (RETRO)
                <mat-icon *ngIf="nomiECognomi[doc].doc_1">check</mat-icon></label>
            <input type="file" id="documento_{{doc}}_1" (change)="selectFile($event, doc, true)"
                name="documento_{{doc}}_1" />
        </div>

        <div class="button-container">
            <button mat-raised-button matStepperPrevious><mat-icon fontIcon="arrow_back"></mat-icon>
                <span>Indietro</span></button>
            <button *ngIf="allFilesUploaded()" mat-raised-button color="primary" matStepperNext>
                <span>Avanti</span> <mat-icon fontIcon="arrow_forward"></mat-icon>
            </button>
        </div>

    </mat-step>

    <mat-step label="Invia">
        <h4>Confermi i dati inseriti per inviare la richiesta di iscrizione?</h4>

        <div *ngIf="!sendingMail" class="confirm-container">
            <button *ngIf="isAllSubStepsCompleted() && intestatario.valid && allFilesUploaded()" mat-raised-button
                color="primary" (click)="sendMail()">
                <mat-icon fontIcon="send"></mat-icon>
                <span>Invia iscrizione</span>
            </button>
        </div>
        <br />
        <div class="action-loading" *ngIf="(getSentOk() + getSentError()) < totalMails">
            Invio documenti in corso. Non chiudere questa pagina fino al completamento. ({{getSentOk()}} /
            {{totalMails}})
        </div>
        <mat-spinner class="text-center" *ngIf="(getSentOk() + getSentError()) < totalMails"></mat-spinner>
        <div class="action-complete" *ngIf="getSentOk() > 0 && getSentOk() === totalMails">
            <label>Modulo inviato con successo!</label>
        </div>
        <div class="action-error" *ngIf="getSentError() > 0">
            <label>Si è verificato un errore durante l'invio della mail. Invia gli eventuali messaggi sottostanti
                all'amministratore per contribuire a migliorare l'applicazione. Grazie. Puoi riprovare provando ad
                aggiornare la pagina del browser</label>
        </div>
        <br />
        <div class="button-container" *ngIf="!sendingMail">
            <button mat-raised-button matStepperPrevious><mat-icon fontIcon="arrow_back"></mat-icon>
                <span>Indietro</span></button>
        </div>
    </mat-step>

</mat-stepper>


<div *ngIf="intestatario.valid" id="firstPageMultiple" class="page">
    <h3 class="title"><img alt="logo_image" [src]="logoBase64" width="100px" />MODULO D'ISCRIZIONE EVENTO GARA HERACLEA
        FENCING CAMP</h3>
    <div class="dati_atleta">
        <p>
            il/la sottoscritto/a
            <strong>{{intestatario.value['nome']}}</strong>&nbsp;<strong>{{intestatario.value['cognome']}}</strong>
            nato/a a <strong>{{intestatario.value['luogo']}}</strong> il
            <strong>{{intestatario.value['dataNascita']}}</strong> Residente a
            <strong>{{intestatario.value['residenza']}}</strong> in Via
            <strong>{{intestatario.value['viaResidenza']}}</strong> n°
            <strong>{{intestatario.value['nResidenza']}}</strong>
            <br />
            Cell <strong>{{intestatario.value['telefono']}}</strong>
            Email <strong>{{intestatario.value['email']}}</strong>
            <br />
        </p>
        <h5 class="bold">CHIEDE</h5>
        <p>
            l'iscrizione all'evento gara (individuale o squadre) dal 2 al 4 settembre 2024 per il seguente gruppo:
        </p>
        <ul>
            <li>Intestatario Camera: {{intestatario.value['nome']}} {{intestatario.value['cognome']}} <span
                    *ngIf="intestatario.value['gara']">T-Shirt <strong>{{intestatario.value['tShirt']}}</strong></span>
            </li>
            <li *ngFor="let item of nomiECognomi">{{ item.nome }} {{ item.cognome }} {{ item.dataNascita }} <span
                    *ngIf="item.gara">T-Shirt: <strong>{{item.tShirt}}</strong></span></li>
        </ul>
    </div>
    <h5 class="underline center">REGOLAMENTO GENERALE</h5>
    <div class="regolamento">
        <ol>
            <li>La quota per l'evento gara ammonta a 170,00€ a persona. La quota comprende: Sistemazione in camera
                multipla, pensione completa, all- inclusive 24h (solo camp di Pizzo), t-shirt (per chi partecipa alla
                gara), attività ricreativa con l'utilizzo di tutti i servizi della struttura.
            </li>
            <li>Anticipo quota d'iscrizione di 100,00 € a persona, saldo da consegnare al proprio Maestro di sala oppure
                da concordare telefonicamente solo dopo aver ricevuto comunicazioni dall'organizzazione riguardo la
                conferma dell'iscrizione. La quota non è rimborsabile, fatta salva l'ipotesi di non effettuazione
                dell'evento.
            </li>
            <li>La società organizzatrice declina ogni responsabilità per eventuali incidenti o danni a persone o cose
                che dovessero verificarsi prima, durante e dopo il ritiro.
            </li>
            <li>Eventuali danni all'interno della struttura, saranno risarciti dai responsabili prima della partenza.
            </li>
        </ol>
    </div>
    <h6 class="bold">Preso atto ed approvato il presente Regolamento Generale, dichiaro di:</h6>
    <div>
        <ul>
            <li>Allegare modulo di iscrizione</li>
            <li>Allegare la dichiarazione di esonero delle responsabilità</li>
            <li>Allegare la liberatoria di utilizzo immagini e video</li>
            <li>Allegare copia del documento di riconoscimento e della tessera sanitaria dell'atleta</li>
            <li>Allegare copia del certificato (solo per i partecipanti alla gara) di idoneità alla pratica agonistica
                in corso di validità (non agonistico
                per
                i nati dal 2015 in poi)</li>
            <li>Essere in regola con l'iscrizione alla F.I.S. per la stagione 2024-2025 (solo per i partecipanti alla
                gara)
            </li>
            <li>Attestazione di versamento della caparra 100,00 € a persona sul C/C bancario intestato a: Club
                Scherma Cosenza presso la Banca BCC Mediocrati di Rende con iban IT35 B 07062 80880 0000 0011 3720
                specifcando nella causale: Evento gara cognome e nome dell'atleta - es. evento gara - Luigi Rossi
            </li>
        </ul>
        <p>
            Si autorizza il trattamento dei dati personali, nonché alla comunicazione e diffusione degli stessi, ai
            sensi e
            per gli effetti dell'art. 13 del regolamento (UE) 2016/679 definito GDPR.
        </p>
        <p>Luogo e data ___________________ Firma Intestatario________________________________</p>
        <p>Firma di tutti i maggiorenni presenti nel gruppo</p>
        <p *ngFor="let item of nomiECognomi">Firma __________________________________</p>
    </div>
</div>

<div *ngIf="intestatario.valid" id="secondPageMultiple" class="page">
    <h3 class="title"><img alt="logo_image" [src]="logoBase64" width="100px" />DICHIARAZIONE DI ESONERO DA
        OGNI RESPONSABILITA'</h3>
    <p>
        il/la sottoscritto/a <strong>{{intestatario.value['nome']}}</strong>&nbsp;
        <strong>{{intestatario.value['cognome']}}</strong>
        nato/a a <strong>{{intestatario.value['luogo']}}</strong> il
        <strong>{{intestatario.value['dataNascita']}}</strong>
        Residente <strong>{{intestatario.value['residenza']}}</strong> in Via
        <strong>{{intestatario.value['viaResidenza']}}</strong> n°
        <strong>{{intestatario.value['nResidenza']}}</strong>
        Email <strong>{{intestatario.value['email']}}</strong> Cell
        <strong>{{intestatario.value['telefono']}}</strong> in qualità di referente del proprio nucleo familiare,
    </p>
    <h5 class="title">CON LA PRESENTE AUTORIZZA</h5>
    <p>il proprio gruppo a prendere parte all’ Evento Gara dal 2 al 4 settembre 2024</p>
    <h5 class="title">E DICHIARA</h5>
    <p>
        di aver provveduto all'iscrizione del proprio gruppo/nucleo familiare, e provvederà al pagamento della quota
        come riportato dal Regolamento Generale presente nel modello d'iscrizione. Dichiara altresì di sollevare il
        Club Scherma Cosenza, l'azienda/società ospitante dell'evento e la F.I.S. da ogni e qualsiasi responsabilità̀
        connessa al comportamento del minore, nonché da eventuali obblighi degli accompagnatori incaricati, anche ai
        sensi dell'art.2048 c.c.
    </p>
    <p>Si autorizza il trattamento dei dati personali, nonché alla comunicazione e diffusione degli stessi, ai sensi e
        per gli effetti dell'art. 13 del regolamento (UE) 2016/679 definito GDPR. </p>
    <p>
        Luogo e data ___________________ Firma Intestatario________________________________
    </p>
    <p>Firma di tutti i maggiorenni presenti nel gruppo </p>
    <p *ngFor="let item of nomiECognomi">Firma __________________________________ </p>

</div>

<div *ngIf="intestatario.valid" id="thirdPageMultiple" class="page">
    <h3 class="title"><img alt="logo_image" [src]="logoBase64" width="100px" />LIBERATORIA DI UTILIZZO DELLE IMMAGINI E
        DEI VIDEO</h3>
    <p>
        il/la sottoscritto/a <strong>{{intestatario.value['nome']}}</strong>&nbsp;
        <strong>{{intestatario.value['cognome']}}</strong>
        nato/a a <strong>{{intestatario.value['luogo']}}</strong> il
        <strong>{{intestatario.value['dataNascita']}}</strong>
        Residente <strong>{{intestatario.value['residenza']}}</strong> in Via
        <strong>{{intestatario.value['viaResidenza']}}</strong> n°
        <strong>{{intestatario.value['nResidenza']}}</strong>
    </p>
    <h5 class="title">AUTORIZZA</h5>
    <p>
        Il Club Scherma Cosenza, con sede legale in via degli stadi snc, 87100 Cosenza C.F. 98026430789 P.iva
        01973250788 (di seguito anche “Titolare” o “Club”), telefono 3926341679, email campusscherma@gmail.com, in
        qualità di Titolare del trattamento, a realizzare fotografie e riprese audio e video, non lesive della mia
        immagine, a titolo gratuito, anche ai sensi degli artt. 10 e 320 Cod. civ. e degli artt. 96 e 97 Legge
        22.04.1941 n. 633 (Legge sul diritto d'autore) e ad utilizzare, sia direttamente, sia attraverso la cessione a
        terzi, le foto e le riprese audio e video, anche in diretta streaming, realizzate dagli operatori o persone
        incaricate dal Club, anche ai fini della comunicazione, pubblicazione e/o diffusione in qualsiasi forma su siti
        internet, su social network e su qualsiasi altro mezzo di diffusione (es. giornali, brochure o quotidiani).
        Autorizza, inoltre, la conservazione delle foto e dei video stessi negli archivi informatici dello stesso
        Titolare e prende atto che le finalità di tali pubblicazioni sono meramente di carattere istituzionale,
        informativo e promozionale.
    </p>
    <p>
        Si autorizza il trattamento dei dati personali, nonché alla comunicazione e diffusione degli stessi, ai sensi e
        per gli effetti dell'art. 13 del regolamento (UE) 2016/679 definito GDPR.
    </p>
    <p>
        Luogo e data ___________________ Firma Intestatario________________________________
    </p>
    <p>Firma di tutti i maggiorenni presenti nel gruppo</p>
    <p>Firma __________________________________</p>
</div>